@using CarteiraAtivos.Dtos
@model LoginUsuarioCreateDto

@{
   Layout = "_LayoutLogin";
   ViewData["Title"] = "Login";
}

@if (TempData["Erro"] != null)
  {
    <div class="alert alert-danger alert-dismissible fade show" data-bs-dismiss="alert" role="alert">
      @TempData["Erro"]
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
  }

@if (TempData["Sucesso"] != null)
  {
    <div class="alert alert-success alert-dismissible fade show" data-bs-dismiss="alert" role="alert">
      @TempData["Sucesso"]
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
  }

<main>
   <h2>@ViewData["Title"]</h2>
   
   <form asp-controller="LoginUsuario" asp-action="Login" method="post">
         
   <div class="mb-3">
      <label for="Login" class="form-label">Login</label>
      <input type="text" class="form-control" asp-for="Login" placeholder="Digite o login da conta...">
      @Html.ValidationMessageFor(x => x.Login)
   </div>

   <div class="mb-3">
      <label for="Senha" class="form-label">Senha</label>
      <input type="password" class="form-control" asp-for="Senha" placeholder="Digite a senha da conta...">
      @Html.ValidationMessageFor(x => x.Senha)
   </div>

   <div class="d-flex justify-content-between">
      <a class="btn-redefinir-senha text-primary" asp-controller="LoginUsuario" asp-action="EmailRedefinirSenha">Esqueceu a senha?</a>
      <a class="btn-cadastro btn btn-outline-primary" asp-controller="LoginUsuario" asp-action="Cadastrar">Cadastrar</a>
   </div>

   <button type="submit" class="btn btn-primary w-100">Logar</button>
</form>

</main>