@using CarteiraAtivos.Dtos
@model LoginUsuarioUpdateDto

@{
   Layout = "_LayoutLogin";
   ViewData["Title"] = "Redefinir Senha";
}

@if (TempData["Erro"] != null)
  {
    <div class="alert alert-danger alert-dismissible fade show" data-bs-dismiss="alert" role="alert">
      @TempData["Erro"]
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
  }

@if (TempData["Sucesso"] != null)
  {
    <div class="alert alert-success alert-dismissible fade show" data-bs-dismiss="alert" role="alert">
      @TempData["Sucesso"]
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
  }

<main>
   <h2>@ViewData["Title"]</h2>
   
   <form asp-controller="LoginUsuario" asp-action="RedefinirSenha" method="post">
    <input type="hidden" asp-for="Token" />

   <div class="mb-3">
      <label for="Senha" class="form-label">Senha</label>
      <input placeholder="Digite sua nova senha..." type="password" class="form-control" asp-for="Senha">
      @Html.ValidationMessageFor(x => x.Senha)
   </div>

   <div class="mb-3">
      <label for="ConfirmarSenha" class="form-label">Confirmar Senha</label>
      <input placeholder="Confirme sua nova senha..." type="password" class="form-control" asp-for="ConfirmarSenha">
      @Html.ValidationMessageFor(x => x.ConfirmarSenha)
   </div>

   <button type="submit" class="btn btn-primary w-100">Redefinir</button>
</form>

</main>