@using CarteiraAtivos.Dtos
@model AtivoCreateDto

@{
   ViewData["Title"] = "Edição de Ativo";
}

@if (TempData["Erro"] != null)
  {
    <div class="alert alert-danger alert-dismissible fade show" data-bs-dismiss="alert" role="alert">
      @TempData["Erro"]
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
  }

@if (TempData["Sucesso"] != null)
  {
    <div class="alert alert-success alert-dismissible fade show" data-bs-dismiss="alert" role="alert">
      @TempData["Sucesso"]
      <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
  }

<main>
   <h2>@ViewData["Title"]</h2>
   
   <form asp-controller="Ativo" asp-action="Editar" method="post">
      <input type="hidden" asp-for="Id" />

      <div class="mb-3">
         <label for="Ticker">Ticker</label>
         @await Component.InvokeAsync("BarraPesquisaAtivo", new { redirecionamento = false, Ticker = Model.Ticker})
         @Html.ValidationMessageFor(x => x.Ticker)
      </div>

      <div class="mb-3">
         <label for="Cotas" class="form-label">Cotas</label>
         <input id="cotas" type="text" class="form-control" asp-for="Cotas" placeholder="Digite o número de cotas...">
         @Html.ValidationMessageFor(x => x.Cotas)
      </div>

      @* Aqui abaixo virá um o preço em tempo real via Ajax *@
      <div id="valorTotal" class="form-text"></div>

      <button type="submit" class="btn btn-primary w-100">Editar ativo</button>
   </form>

</main>