@model List<AtivoModel>
@{
  ViewData["Title"] = "Listagem de Ativos";
}

<main>
   <h2>@ViewData["Title"]</h2>

   <table class="table data-table display">
      <thead>
      <tr>
         <th scope="col">#</th>
         <th scope="col">Ticker</th>
         <th scope="col">Cotas</th>
         <th scope="col">Tipo</th>
         <th scope="col">Setor</th>
         <th scope="col">Valor Total</th>
         <th scope="col"></th>
      </tr>
   </thead>
   <tbody>
    @if(Model != null && Model.Any())
    {
        foreach (AtivoModel ativo in Model)
        {
          <tr>
            <th scope="row">@ativo.Id</th>
            <td>@ativo.Ticker</td>
            <td>@ativo.Cotas</td>
            <td>@(ativo.Tipo == "stock" || ativo.Tipo == "bdr" ? "Ação" : "FII")</td>
            <td>@ativo.Setor</td>
            <td>R$ @ativo.ValorTotal</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a type="button" class="btn btn-primary" asp-route-ativoId="@ativo.Id" asp-controller="Ativo" asp-action="Editar">Editar</a>
                <a type="button" class="btn btn-danger" asp-route-ativoId="@ativo.Id" asp-controller="Ativo" asp-action="ApagarConfirmacao">Apagar</a>
              </div>
            </td>
          </tr>
      }
    }
   </tbody>
   </table>
</main>
<br>

<a class="btn btn-primary btn-block w-100" role="button" asp-controller="Ativo" asp-action="Criar">Adicionar novo ativo</a>